<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>Principales Teorías:</h3>

    <ul>
        <li>Efecto fotoeléctrico</li>
        <li>Movimiento browniano</li>
        <li>Relatividad especial</li>
        <li>Equivalencia masa-energía</li>
        <li>Relatividad general</li>
    </ul>
    
    
</body>
</html>